html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  font-family: "Circular";
}

.w-3 {
  width: 3%;
}

.w-55 {
  width: 55%;
}

.w-30 {
  width: 30%;
}

.w-5 {
  width: 5%;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(97, 97, 97, 0.384);
}

#nav {
  position: sticky;
  top: 0;
}

#side-scroll {
  overflow-y: scroll;
  max-height: 82vh;
}

#bottom-section {
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 50%,
    rgba(18, 18, 18, 0.171) 90%
  );
}

.custom-padding {
  padding-bottom: 8rem;
}

#main-col {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 10rem;
  background-image: linear-gradient(
    0deg,
    hsla(0, 0%, 7%, 1) 55%,
    hsla(48, 70%, 60%, 1) 100%
  );
  background-attachment: local;
}

#nav {
  background-color: rgba(10, 10, 10, 0.199);
}

#album-img-container {
  width: 225px;
}

#album-title {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -0.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#as-artist-img {
  width: 25px;
}

.fs-headers-row {
  font-size: 0.9rem;
  font-weight: 400;
}

.fs-tbody {
  font-size: 0.8rem;
}

.fade-opacity {
  color: rgba(255, 255, 255, 0.575);
}

.bg-green {
  background-color: #1ed760;
}

.col-green {
  color: #1ed760;
}

#player-bar {
  z-index: 1;
  background-color: rgb(45, 45, 45);
  position: sticky;
  bottom: 0;
  margin: 0;
}
.sideIconsRx {
  color: #585858;
}

.siderbarRx {
  height: 100vh;
  background-color: black;
}
.custom-right-side {
  padding: 0.3em !important;
  font-size: 0.5em;
}
.siderbarRx .bg-black {
  height: 100%;
}
#artist {
  font-size: 0.8em;
  color: white;
}
#title {
  font-size: 1em;
  color: white;
}

.iconsPlay {
  color: white;
}
h3 {
  color: white;
  font-size: 1.2em;
}

.artist {
  color: white;
  font-size: 0.8em;
  font-weight: 200;
}
svg {
  fill: white;
  width: 20px;
}
.progress {
  fill: white;
}
.TywOcKZEqNynWecCiATc {
  fill: white;
}

.imgFriends1 {
  border-radius: 20px;
}

#side-scroll ul > li {
  list-style-type: none;
}
#side-scroll a {
  text-decoration: none;
}

nav ul > li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  vertical-align: middle;
}

nav i {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
.toggle-button {
  background: none;
  border: none;
  color: white; /* O qualsiasi altro colore che si abbini al tuo tema */
  cursor: pointer;
}

#prev-track-btn,
#play-pause-btn,
#next-track-btn {
  background-color: transparent;
  border: none;
}
