html {
  overflow-y: hidden;
}

body {
  font-family: "Circular";
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}

.custom {
  background-color: #000000;
}

.custom1 {
  background-color: aquamarine;
}

.custom2 {
  background-color: beige;
}

#side-scroll {
  overflow-y: scroll;
  max-height: 76vh;
}

#main-scroll {
  overflow-y: scroll;
  max-height: 95vh;
}

#right-side {
  max-height: 95vh;
}

#player-bar {
  z-index: 1;
  background-color: azure;
  position: sticky;
  bottom: 0;
}
#side-scroll ul > li {
  list-style-type: none;
  color: #adae98;
}
#side-scroll a {
  text-decoration: none;
  color: #adae98;
}

nav ul > li {
  list-style-type: none;
  color: #adae98;
}
nav a {
  text-decoration: none;
  color: #adae98;
  vertical-align: middle;
}

nav i {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
.toggle-button {
  background: none;
  border: none;
  color: white; /* O qualsiasi altro colore che si abbini al tuo tema */
  cursor: pointer;
}
